Package: vizzu-devenv
Version: 0.1
Architecture: amd64
Maintainer: Laszlo Simon
Depends: git, cmake, build-essential, qt5-default, zlib1g-dev
Priority: optional
Section: devel
Installed-Size: 4
Description: This package installs and sets all the build dependencies for the Vizzu project

